body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, sans-serif;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav {
    position: sticky;
}
  
.topnav li {
    float: left;
}
  
#nonactive {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 500ms;
}
  
#nonactive:hover {
    transform: scale(0.8);
}

.topnav img {
    margin-top: 4px;
    margin-left: 5px;
    padding-right: 5px;
}

#active {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: rgb(100, 100, 100);
}

#active:hover {
    background-color: rgb(100, 100, 100);
}

.links {
    float: right;
}

.text {
    color: white;
    text-align: center;
    animation: textanim 1s;
    animation-delay: 50ms;
}

.text h1 {
    font-weight: 100;
    font-size: 50px;
}

@keyframes textanim {
    from {filter: opacity(0%);}
    to {filter: opacity(100%);}
}

.button {
    background-color: white;
    border: rgb(85, 85, 85) solid 2px;
    margin: 0 auto;
    width: 100px;
    transition: 500ms;
}

.button a {
    text-decoration: none;
    padding-right: 30%;
    color: black;
    padding-left: 20%;
    transition: 500ms;    
}

.button:hover {
    color: white;
    background-color: #333;
    border-color: rgb(209, 209, 209);
} 

.button a:hover {
    color: white;
}

hr {
    margin-left: 60px;
    margin-right: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.code {
    font-family: 'Roboto Mono', monospace;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    border: rgb(36, 36, 36) solid 5px;
    background-color: rgb(36, 36, 36);
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

.pri {
    color: rgb(69, 175, 59);
}

.text h2 {
    font-weight: 100;
}

.hovering:hover {
    width: 700px;
}

.hovering {
    width: 500px;
    transition: 500ms;
}
